<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Generador de Contraseñas</title>
</head>
<body>
    
    <div class="container">
    <h1>Generador de Contraseñas</h1>

    <form method="POST">
        <label>Longitud de la Contraseña</label><br>
        <input type="number" name="longitud" required min="4"><br><br>

        <button type="submit">Generar</button>
    </form>

    {% if contrasena %}
        <h2>Contraseña Generada:</h2>
        <p id="password"><strong>{{  contrasena }}</strong></p>
        <button type="button" onclick="copiarPassword()">Copiar contraseña</button>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    </div>
</body>
</html>

